{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'dashboard/order-list.css' %}" />
  </head>
  <body>
    <div class="orderlist-popup">
      <div class="">
        <h1 class="order-heading">Your Orders</h1>
        <p class="date">{{today_date}}</p>
      </div>
      <div class="table-orders">
        <table>
          <thead cellspacing="100px">
            <tr>
              <th class="move-item">Item</th>
              <th>Qty</th>
              <th>Price</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody>
            {% for item in orders %}
            <tr>
              <td class="column-space">
                <div class="food-arrange">
                  <img
                    class="food-img"
                    src="{{item.food_item.food_img.url}}"
                    alt=""
                  />
                  <span class="foodname">{{item.food_item.name}}</span>
                  <p class="remove">Remove</p>
                </div>
              </td>
              <td class="td-quantity">{{item.quantity}}</td>
              <td class="td-quantity">Gh{{item.price}}</td>
              <td class="status">{{item.order.status}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
